@charset "utf-8";
// 引入外部文件
@import "global.scss";
// common-header通用部分
.common-header {
    min-width: $mainWidth;
    box-sizing: border-box;
    padding: 0 40px;
    height: 94px;
    background-color: #fff;
    box-shadow: 0 0 4px 2px #909090;
    .common-logo {
        display: block;
        width: 294px;
        height: 85px;
        margin-top: 4px;
        &.cn {
            background: url("../images/logo-other.png") no-repeat 0 0;
        }
        &.en {
            background: url("../images/logo-other-en.png") no-repeat 0 0;
        }
    }
    .guide {
        height: 24px;
        overflow: hidden;
        text-align: right;
        margin-top: 35px;
        font-size: 16px;
        a {
            color: #3B3B3B;
            display: block;
            float: right;
        }
        a:hover {
            color: $mainColor;
            text-decoration: underline;
        }
        .arrow {
            width: 20px;
            height: 20px;
            background: url("../images/guide-arrow.png") no-repeat 0px 2px;
        }
    }
}

// footer通用部分
.footer {
    margin: 0px auto 0;
    height: 210px;
    width: 100%;
    background-color: #EDEDED;
    .footer-wrap {
        box-sizing: border-box;
        width: $mainWidth;
        height: 230px;
        padding: 44px 50px 24px;
        color: #3B3B3B;
    }
    .custom-service {
        width: 65px;
        height: 64px;
        background: url(../images/custom-service.png) no-repeat 0 0;
    }
    .service-time {
        width: 256px;
        height: 152px;
        margin: 0px 0 0 24px;
        border-right: 1px solid #B4B4B4;
        h2 {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.2em;
            margin-top: 10px;
            color: $mainFontColor;
        }
        p {
            font-size: 14px;
        }
    }
    .company-service {
        width: 570px;
        height: 132px;
        padding-left: 24px;
        ul {
            margin-bottom: 30px;
            overflow: hidden;
            li {
                font-size: 16px;
                color: #3B3B3B;
                margin-right: 40px;
                float: left;
                cursor: pointer;
                &:hover {
                    color: $mainColor;
                    font-weight: 560;
                }
            }
        }
        p {
            margin-top: 6px;
        }
        a {
            color: $mainFontColor
        }
        a:hover {
            color: $mainColor;
            text-decoration: underline;
        }
    }
    .qr-code-sec {
        .qr-code {
            width: 118px;
            height: 118px;
            background: url(../images/qr-code.jpg) no-repeat 0 0;
        }
        p {
            font-size: 14px;
            color: #3B3B3B;
            text-align: center;
            margin-top: 2px;
        }
    }
}