.fr {
  float: right; }

.fl {
  float: left; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.mediate {
  margin: 0 auto; }

.min-main-width {
  min-width: 1160px; }

.placeholder {
  color: #aaa; }

.common-header {
  min-width: 1160px;
  box-sizing: border-box;
  padding: 0 40px;
  height: 94px;
  background-color: #F3F3F3;
  box-shadow: 0 0  6px 6px #909090; }
  .common-header .common-logo {
    display: block;
    width: 294px;
    height: 85px;
    margin-top: 4px;
    background: url("../images/logo-other.png") no-repeat 0 0; }
  .common-header .guide {
    display: block;
    width: 134px;
    height: 24px;
    margin-top: 35px;
    font-size: 16px;
    color: #3B3B3B;
    background: url("../images/guide-arrow.png") no-repeat 116px 2px; }

.footer {
  margin: 0px auto 0;
  height: 210px;
  width: 100%;
  background-color: #EDEDED; }
  .footer .footer-wrap {
    box-sizing: border-box;
    width: 1160px;
    height: 210px;
    padding: 44px 50px 24px;
    color: #3B3B3B; }
  .footer .custom-service {
    width: 65px;
    height: 64px;
    background: url(../images/custom-service.png) no-repeat 0 0; }
  .footer .service-time {
    width: 256px;
    height: 132px;
    margin: 0px 0 0 24px;
    border-right: 1px solid #B4B4B4; }
    .footer .service-time h2 {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2em;
      margin-top: 10px; }
    .footer .service-time p {
      font-size: 14px; }
  .footer .company-service {
    width: 570px;
    height: 132px;
    padding-left: 24px; }
    .footer .company-service ul {
      margin-bottom: 10px;
      overflow: hidden; }
      .footer .company-service ul li {
        font-size: 16px;
        color: #3B3B3B;
        margin-right: 40px;
        float: left; }
        .footer .company-service ul li:hover {
          color: #F5674B;
          font-weight: 560; }
    .footer .company-service p {
      margin-top: 6px; }
  .footer .qr-code-sec .qr-code {
    width: 118px;
    height: 118px;
    background: url(../images/qr-code.jpg) no-repeat 0 0; }
  .footer .qr-code-sec p {
    font-size: 14px;
    color: #3B3B3B;
    text-align: center;
    margin-top: 2px; }
